/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  color: inherit;
}
/* 
* {
  box-sizing: border-box;
}

.deckgo1 {
  width: 10%;
  height: 19%;
  top: 15%;
  left: 12.5%;
}

.deck {
  background-color: aqua;
} */
